body {
  background-color: #e6bbcd;
  font-family: 'Kosugi Maru', sans-serif;
}
h1,
h2 {
  margin: 0 auto;
  text-align: center;
  font-family: 'Lily Script One', cursive;
}
h1 {
  margin-top: 20px;
  font-size: 60px;
  color: #cc5766;
}
h2 {
  font-size: 30px;
  color: #ffffff;
}
