body {
  background-color: #e6bbcd;
  font-family: 'Kosugi Maru', sans-serif;
}
h1,
h2 {
  margin: 0 auto;
  text-align: center;
  font-family: 'Lily Script One', cursive;
}
h1 {
  margin-top: 20px;
  font-size: 60px;
  color: #cc5766;
}
h2 {
  font-size: 30px;
  color: #ffffff;
}
/* カードデザイン */
.card {
  width: 350px;
  background: #ffffff;
  border-radius: 5%;
  box-shadow: 0 2px 5px #ccc;
}
.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content {
  padding: 20px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.card-text {
  color: #777;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}
